.work .heading{
    font-family: 'ogonek', sans-serif;
    font-size: 5em;
    text-align: left;
    padding-bottom: 0.5em;
  }

  .work .project {
      padding-left: 1em;
      padding-bottom: 5em;
      padding-top: 5em;
  }